.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    font-family: "Times New Romand", Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    color: white;
  }
  